<p>user-questions works!</p>


<div class="row">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Opis</th>
       
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let questionsList of userQuestionsLists; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ questionsList.name }}
        </td>
        <td>{{ questionsList.description}}</td>
      </tr>
      </tbody>
    </table>
                    
                </div>
