<div class="container">
	<div class="row text-center" style="margin-top:12px;">
		<div class="col-md-12">
			<button type="buton" class="btn btn-info default"  (click)="addQuestionsToUserQuestions(selectedQuestionList)">
				<i class="fa fa-plus"></i>
				Dodaj wybrane pytania do swojej listy
			</button>
		</div>
	</div>
	<div class="row" style="margin-top: 28px;">
		<div class="col-md-3">

			<div class="list-group list-group-flush">
				<!-- AllQuestions List -->

				<!-- All Questions, no filter -->
				<p>
					<button type="button" class="list-group-item list-group-item-action">
						<i class="fa fa-book"></i>&nbsp;All
					</button>
				</p>

				
				<!-- First level loop-->
				<p>
					<a *ngFor="let oneQuestion of allQuestionsMenu | allQuestionsFilter: 'firstLevel': 'firstLevel'"
						class="list-group-item list-group-item-action">

						<button type="button" class="list-group-item list-group-item-action"
							(click)="isCollapsed[oneQuestion.id] = !isCollapsed[oneQuestion.id]"
							(click)="selectQuestion(oneQuestion.id, 'firstLevel')"
							[attr.aria-expanded]="!isCollapsed" aria-controls="collapseFirst">
							<i class="fa fa-book"></i>&nbsp;{{oneQuestion.firstLevel}}
						</button>
						<div id="collapseFirst" [ngbCollapse]="!isCollapsed[oneQuestion.id]">
							<!-- Second level loop-->
							<p>
								<a *ngFor="let oneQuestion of allQuestionsMenu | allQuestionsFilter: 'secondLevel':oneQuestion.firstLevel"
									class="list-group-item list-group-item-action">
									<button type="button" class="list-group-item list-group-item-action"
										(click)="isCollapsed[oneQuestion.id + numbersAllQuestions] = !isCollapsed[oneQuestion.id + numbersAllQuestions]"
										(click)="selectQuestion(oneQuestion.id, 'secondLevel')"
										[attr.aria-expanded]="!isCollapsed[oneQuestion.id + numbersAllQuestions]"
										aria-controls="collapseSecond">
										<i class="fa fa-book"></i>{{oneQuestion.secondLevel}}
									</button>
									<div id="collapseSecond"
										[ngbCollapse]="!isCollapsed[oneQuestion.id + numbersAllQuestions]">
										<div>
											<!-- third level loop-->
											<p>
												<a *ngFor="let oneQuestion of allQuestionsMenu | allQuestionsFilter: 'thirdLevel':oneQuestion.firstLevel:oneQuestion.secondLevel"
													class="list-group-item list-group-item-action">
													<button type="button" class="list-group-item list-group-item-action"
														(click)="isCollapsed[oneQuestion.id + numbersAllQuestions * 2 ] = !isCollapsed[oneQuestion.id + numbersAllQuestions * 2]"
														(click)="selectQuestion(oneQuestion.id, 'thirdLevel')"
														[attr.aria-expanded]="!isCollapsed[oneQuestion.id+ numbersAllQuestions * 2 ]"
														aria-controls="collapseThird">
														<i class="fa fa-book"></i>{{oneQuestion.thirdLevel}}
													</button>
													<div id="collapseThird"
														[ngbCollapse]="!isCollapsed[oneQuestion.id + numbersAllQuestions * 2]">

														<!-- fourth loop -->
														<p>
															<a *ngFor="let oneQuestion of allQuestionsMenu | allQuestionsFilter: 'fourthLevel':oneQuestion.firstLevel:oneQuestion.secondLevel:oneQuestion.thirdLevel"
																class="list-group-item list-group-item-action">
																<a *ngIf="oneQuestion.fourthLevel != null">
																	<button type="button"
																		class="list-group-item list-group-item-action"
																		(click)="selectQuestion(oneQuestion.id, 'fourthLevel')"
																		aria-controls="collapseFourth">

																		<i
																			class="fa fa-book"></i>{{oneQuestion.fourthLevel}}

																	</button>
																</a>
															</a>
														</p>

													</div>
												</a>
											</p>
										</div>
									</div>
								</a>
							</p>
						</div>
					</a>
				</p>


			</div>
		</div>


		<!-- Questions Panel -->
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<!-- Message if there are no questions -->
					
				</div>
			</div>
			<div class="row">
				<!-- Note list -->
			
		

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Pytanie</th>
	<th scope="col">Data dodania</th>
	<th scope="col">Odpowiedź</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let question of selectedQuestionList; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ question.question }}
    </td>
	<td>{{ question.creationTime}}</td>
	<td>
		<button type="button"
			class="btn btn-link"
			(click)="showAnswer(question)">
			<i class="	fa fa-info-circle  fa-lg"></i>
		</button>

		
	
	
	</td>
  </tr>
  </tbody>
</table>
				
			</div>
		</div>
	</div>
</div>

								