<div class="container">
  <div class="col-md-12">
    <p><em>Pytanie: &nbsp; </em>{{question}}</p>
    <hr>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p><em>Odopwiedź podstawowa</em></p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="basicAnswer"></div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p><em>Odpowiedź rozszerzona</em></p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="intermediateAnswer"></div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p><em>Odpowiedź zaawansowana</em></p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="advancedAnswer"></div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <p></p>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <button type="buton" class="btn btn-info default" (click)="markAsKnow()">
          <i class="	fa fa-check-square-o"></i>
          Wiem
        </button>
      </div>
      <div class="col-md-6">
        <mat-slider (input)="setRepeatValue($event)" thumbLabel tickInterval="10" min="1" max="100" matTooltip="Powtórz za"
          matTooltipPosition="above"></mat-slider>
      </div>
      <div class="col-md-3">
        <button type="buton" class="btn btn-info default" (click)="repeatIn()">
          <i class="	fa fa-history"></i>
          Powtórz
        </button>
      </div>
    </div>
  </div>

  <p></p>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header >
          <mat-panel-title >
           Moja notatka
          </mat-panel-title>
         
        </mat-expansion-panel-header>
        

        <mat-form-field class="col-md-12 text-center">
          
          <textarea matInput placeholder={{userNote}} required maxlength="4000" [(ngModel)]="userNoteToAdd"></textarea>
          

        </mat-form-field>

        <div class="col-md-12 text-center">
          <button type="buton" class="btn btn-info default" (click)="addNote()">
            <i class="fa fa-sticky-note-o"></i>
            Zapisz
          </button>
        </div>


      </mat-expansion-panel>

    </div>
    </div>
  </div>
</div>



